.item-card {
  max-height: 326px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  position: relative;
  border-radius: 12px;
}

.item-card__img {
  max-height: 326px;
  position: relative;
  border-radius: 12px;
}

.item-card__title {
  position: absolute;
  z-index: 1;
  background-color: white;
  border-radius: 4px;
  padding: 2px 12px;
  top: 15px;
  left: 125px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
}
