.item-card {
  height: calc((96vh - 80px - 63px) / 2);
  max-width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  position: relative;
  border-radius: 12px;
  background-size: cover;
  cursor: pointer;
}

.item-card__title {
  position: absolute;
  z-index: 1;
  background-color: white;
  border-radius: 4px;
  padding: 2px 12px;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
}
