.login-modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.3s ease-in;
  font-family: "Cabinet", sans-serif;
  color: rgba(0, 0, 0, 1);
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.login-modal_opened {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease-out;
}

.login-modal__container {
  background-color: white;
  padding: 32px 50px 0;
  width: 100%;
  max-width: 496px;
  height: min-content;
  border-radius: 8px;
}

.login-modal__content {
  position: relative;
}

.login-modal__header {
  display: flex;
  justify-content: space-between;
  margin: 0 0 24px 0;
}

.login-modal__title {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.login-modal__close-btn {
  background-image: url(../../images/close-button.svg);
  background-size: cover;
  width: 16px;
  height: 16px;
  padding: 0;
  opacity: 0.5;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.login-modal__close-btn:hover {
  opacity: 100%;
}

.login-modal__fieldset {
  display: flex;
  flex-direction: column;
  padding: 0;
  border: none;
}

.login-modal__label {
  margin-bottom: 8px;
}

.login-modal__input {
  width: 100%;
  margin-bottom: 24px;
  padding: 4px 0;
  font-family: "Cabinet", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border: none;
  border-bottom: 1px solid;
  background-color: transparent;
}

.login-modal__input:-webkit-autofill,
.login-modal__input:-webkit-autofill:hover,
.login-modal__input:-webkit-autofill:focus,
.login-modal__input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  -webkit-text-fill-color: black !important;
  background-color: transparent !important;
}

.login-modal__input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.login-modal__input:hover {
  border-bottom: 2px solid;
}

.login-modal__input:focus {
  border-color: initial;
  outline: none;
}

.login-modal__input_type_error {
  border: 1px solid rgba(255, 0, 0, 0.6);
}

.login-modal__input_type_error:hover {
  border: 1px solid rgba(255, 0, 0, 0.6);
}

.login-modal__input-error {
  font-weight: 500;
  font-size: 16px;
  line-height: 110.00000000000001%;
  color: rgba(255, 0, 0, 0.7);
  visibility: hidden;
}

.login-modal__input-error_visible {
  visibility: visible;
}

.login-modal__save-btn {
  width: max-content;
  padding: 8px 16px;
  color: rgba(252, 245, 229, 1);
  background-color: rgba(33, 33, 33, 1);
  border-radius: 4px;
  transition: background-color 0.5s ease;
  cursor: pointer;
  border: none;
}

.login-modal__save-btn:hover {
  background-color: rgba(33, 33, 33, 0.6);
}

.login-modal__save-btn_disabled {
  background-color: rgba(33, 33, 33, 0.3);
}

.login-modal__button-container {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 8px;
  margin-bottom: 32px;
}

.login-modal__register-btn {
  background: none;
  border: none;
  color: rgba(0, 0, 0, 0.5);
  font-family: "Cabinet", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  text-decoration: underline;
  padding: 0;
}

.login-modal__register-btn:hover {
  color: rgba(0, 0, 0, 1);
}
